[Unit]
Description=NetBird Exporter, A Prometheus exporter for NetBird peer metrics.
After=network-online.target

[Service]
Type=simple
User=netbird-exp
Group=netbird-exp
ExecStart=/usr/local/bin/netbird-exporter \
    '--web.listen-address=localhost:9101'
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=true
UMask=077

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

IPAccounting=yes
IPAddressAllow=localhost link-local multicast 10.0.0.0/8 192.168.0.0/16

SystemCallFilter=~@clock @cpu-emulation @debug @mount @obsolete @privileged @raw-io @reboot @resources @swap @module
SystemCallArchitectures=native
# When system call is disallowed, return error code instead of killing process
SystemCallErrorNumber=EPERM

CPUWeight=80
CPUQuota=40%
MemoryMax=2G
IOWeight=80

[Install]
WantedBy=multi-user.target
